@model SampleMvc.Web.Models.UserViewModel

<fieldset>
    <legend>Fields</legend>
        
    <div class="display-label">Id</div>
    <div class="display-field">@Html.DisplayFor(x => x.Id)</div>
        
    <div class="display-label">FirstName</div>
    <div class="display-field">@Html.DisplayFor(x => x.FirstName)</div>
        
    <div class="display-label">LastName</div>
    <div class="display-field">@Html.DisplayFor(x => x.LastName)</div>
        
    <div class="display-label">Age</div>
    <div class="display-field">@Html.DisplayFor(x => x.Age)</div>
</fieldset>
