<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
        </div>

        <div id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>