<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

  <appSettings>
    <add key="dataFile" value="c:\work\SampleMvc\trunk\src\SampleMvc.Web\App_Data\data.db3"/>
  </appSettings>

	<spring>
		<context>
			<resource uri="~/Config/propertyConfigurer.xml"/>
			<resource uri="~/Config/sessionFactory.xml"/>
			<resource uri="~/Config/mappers.xml"/>
			<resource uri="~/Config/repositories.xml"/>
			<resource uri="~/Config/controllers.xml"/>
		</context>
	</spring>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="MvcContrib, Version=2.0.36.0, Culture=neutral, PublicKeyToken=null"/>
				<add assembly="Microsoft.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Mvc"/>
				<add namespace="System.Web.Mvc.Ajax"/>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="System.Web.Routing"/>
				<add namespace="Microsoft.Web.Mvc"/>
				<add namespace="MvcContrib"/>
				<add namespace="MvcContrib.UI"/>
				<add namespace="MvcContrib.UI.Html"/>
				<add namespace="MvcContrib.UI.Grid"/>
				<add namespace="MvcContrib.UI.Pager"/>
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
		<handlers>
			<remove name="UrlRoutingHandler"/>
		</handlers>
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>


</configuration>
