@model SampleMvc.Web.Models.UserViewModel
           
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

@Html.DisplayForModel()
<p>
    @(Html.ActionLink<UsersController>(c => c.Edit(Model.Id), "Edit")) |
    @(Html.ActionLink<UsersController>(c => c.Index(), "Back to List"))
</p>
